.qcm {
    padding: 10px;
    min-height: 100vh;
}

.qcm-option {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    color: #2E987C;
}

.qcm-item {
    padding: 5px;
    background-color: #bafae9;
    border-radius: 10px;
    margin: 5px;
}

/* Sélectionne les éléments qcm-item qui ont un input radio coché comme enfant */
.qcm-item:has(input[type="radio"]:checked) {
    background-color: #2E987C;
    color: #fff;
}