* {
    /* supprime les marges extérieures de tous les éléments */
    margin: 0;
    /* supprime les marges intérieures de tous les éléments */
    padding: 0;
    /* définit la police de caractères de tous les éléments */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* rend le défilement de la page plus fluide */
    scroll-behavior: smooth;
}

body {
    /* définit la couleur du texte du corps de la page */
    color: #fff;
}

.menu {
    /* affiche les éléments du menu en ligne */
    display: flex;
    margin: 10px 0px;
    padding: 10px;
    /* centre les éléments du menu verticalement */
    align-items: center;
    /* centre les éléments du menu horizontalement */
    justify-content: center;
}

nav {
    background-color: #2E987C;
    /* affiche les éléments de la barre de navigation en ligne */
    display: flex;
    /* centre les éléments de la barre de navigation verticalement */
    align-items: center;
    padding: 10px;
    /* arrondit les coins de la barre de navigation */
    border-radius: 20px;
    /* fixe la position de la barre de navigation */
    position: fixed;
    margin: 10px;
    /* ajoute une ombre à la barre de navigation */
    box-shadow: 0px 0px 70px 0px #0153b1;
}

header {
    /* positionne l'en-tête par rapport à son élément parent */
    position: relative;
    /* affiche les éléments de l'en-tête en ligne */
    display: flex;
    /* centre les éléments de l'en-tête horizontalement */
    justify-content: center;
    z-index: 1000;
}

.menu li {
    /* supprime les puces des éléments de liste du menu */
    list-style: none;
}

.menu li a {
    /* supprime le soulignement des liens du menu */
    text-decoration: none;
    /* définit la couleur des liens du menu */
    color: #fff;
    /* rend le texte des liens du menu plus gras */
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    /* arrondit les coins des liens du menu */
    border-radius: 10px;
    /* ajoute une transition lors du changement de couleur des liens du menu */
    transition: 0.3s linear;
}

.menu li a:hover {
    /* définit la couleur de fond des liens du menu lors du survol de la souris */
    background-color: #fff;
    /* définit la couleur du texte des liens du menu lors du survol de la souris */
    color: #2E987C;
}

.menu .selected {
    background-color: #fff;
    color: #2E987C;
}

.menu .light-selected {
    background-color: #40b696;
}

.text-center {
    /* centre le texte des éléments ayant cette classe */
    text-align: center;
}

/* 
 vh et vw sont des unités de mesure relatives à la taille de la fenêtre du navigateur
 1vh correspond à 1% de la hauteur de la fenêtre du navigateur
 1vw correspond à 1% de la largeur de la fenêtre du navigateur 
 Ces unités sont utiles pour créer des éléments qui s'adaptent à la taille de l'écran 
*/
.head-section {
    /* définit la hauteur minimale de la section principale à 100% de la hauteur de la fenêtre */
    min-height: 100vh;
    /* affiche les éléments de la section principale en ligne */
    display: flex;
    /* oriente les éléments de la section principale en colonne */
    flex-direction: column;
    /* centre les éléments de la section principale verticalement */
    justify-content: center;
    /* centre les éléments de la section principale horizontalement */
    align-items: center;
    padding: 10px;
}

h2 {
    margin-bottom: 10px;
}

.more-btn {
    /* affiche les éléments du bouton en ligne */
    display: flex;
    /* centre les éléments du bouton verticalement */
    align-items: center;
    /* centre les éléments du bouton horizontalement */
    justify-content: center;
    /* définit la couleur de fond du bouton */
    background-color: #fff;
    /* définit les marges intérieures du bouton */
    padding: 10px;
    /* arrondit les coins du bouton */
    border-radius: 30px;
    height: 30px;
    width: 30px;
    /* ajoute une ombre au bouton */
    box-shadow: 0px 0px 5px 1px #fff;
    margin-top: 10px;
    /* ajoute une transition lors du changement de couleur et de position du bouton */
    transition: 0.5s ease-in-out;
}

.more-btn:hover {
    /* déplace le bouton vers le haut lors du survol de la souris */
    transform: translateY(-5px);
    /* définit la couleur de fond du bouton lors du survol de la souris */
    background-color: #d9ebff;
}

.main-section {
    /* affiche les éléments de la section principale en ligne */
    display: flex;
    /* centre les éléments de la section principale verticalement */
    align-items: center;
    /* définit la hauteur minimale de la section principale à 100% de la hauteur de la fenêtre */
    min-height: 100vh;
    background-color: #2897ff;
}

a {
    color: #2E987C;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    /* ajoute une transition lors du changement d'état*/
    transition: 0.3s linear;
}

a:hover {
    background-color: #2E987C;
    color: #fff;
}

.btn {
    padding: 10px;
    color: #1080ff;
    background-color: #fff;
    /* affiche le bouton en ligne avec les autres éléments */
    display: inline-block;
}

.tip {
    /* affiche les éléments du conseil en ligne */
    display: grid;
    /* centre les éléments du conseil verticalement */
    align-items: center;
    /* définit la hauteur minimale du conseil à 100% de la hauteur de la fenêtre */
    min-height: 100vh;
    margin: 0px;
    /* définit deux colonnes à largeurs égales*/
    grid-template-columns: 50% 50%;
}


.bg-cyan {
    background-color: #00b7ff;
}

.bg-sky {
    background: linear-gradient(45deg, #D8D830 0%, rgba(18, 41, 58, 1) 100%);
}

.bg-ygreen {
    background-color: #2E987C;
}

.bg-yellow {
    background: linear-gradient(180deg, rgba(234, 176, 50, 1) 0%, rgba(229, 199, 25, 1) 100%);
}

.bg-dgreen {
    background-color: #287960;
}

.bg-brown-gr {
    background: linear-gradient(0deg, rgba(101, 56, 67, 1) 0%, rgba(75, 32, 42, 1) 100%);
}

.bg-gradient1 {
    background: linear-gradient(210deg, rgba(10, 59, 61, 1) 0%, rgba(103, 171, 130, 1) 100%);
}

.bg-gradient2 {
    background: linear-gradient(210deg, rgba(59, 71, 57, 1) 0%, rgba(121, 159, 118, 1) 100%);
}

.bg-gray {
    background: #557077
}


.highlight {
    padding: 5px;
    background-color: #fff;
    color: #2E987C;
    border-radius: 10px;
}

.highlight-s {
    padding: 2px;
    background-color: #fff;
    color: #1080ff;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
}

.table {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 50px 0px #0153b160;
}

.table ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
}

.table ul li {
    margin: 10px;
}

.table ul li a {
    padding: 5px;
    display: block;
}

.main-text {
    margin: 0px 15px;
}

.middle-section {
    /* définit la hauteur minimale de la section à 50% de la hauteur de la fenêtre */
    min-height: 50vh;
    /* affiche les éléments de la section en ligne */
    display: flex;
    /* oriente les éléments de la section en colonne */
    flex-direction: column;
    /* centre les éléments de la section verticalement */
    align-items: center;
    /* centre les éléments de la section horizontalement */
    justify-content: center;
}

.big-text {
    /* définit la taille de la police du texte à très grande */
    font-size: xx-large;
}

.inline {
    /* affiche les éléments ayant cette classe en ligne avec les autres éléments */
    display: inline-block;
}

.margin-top {
    margin-top: 20px;
}

.rounded {
    border-radius: 20px;
}

footer {
    min-height: 25vh;
    /* affiche les éléments selon une grille */
    display: grid;
    align-items: stretch;
    align-content: center;
    /* créer deux colonnes égalesn c'est ce que permet l'unité fr */
    grid-template-columns: repeat(2, 1fr);
    background-color: #2C313A;
    color: #2E987C;
}

footer section {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.footer-link {
    font-weight: normal;
    color: #2E987C;
    margin: 0px;
}

.footer-link:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #2E987C;
}

.index-img {
    background: url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}

.img-header {
    color: #223231;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    max-width: 50vw;

}

.text-xxl {
    font-size: xx-large;
}

#index-section {
    background-color: #14171B;
}

.side-img {
    width: 50vw;
    min-height: 100vh;
    object-fit: cover;
}

#tip-header {
    background: url('../images/bg2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
}

#trash-header {
    background: url('../images/poubelle.png');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    margin: 0px;
}

.eolienne {
    background: url('../images/energies_vertes.jpeg');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    margin: 0px;
}

.text-half {
    max-width: 45vw;
    margin: 0px 10px;
}

#trash-section {
    background: url('../images/dechets.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
}

#globe-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)), url('../images/globe.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
}

#energies-header {
    background: url('../images/energies.png');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    margin: 0px;
}

#damn {
    background: url('../images/barrage.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin: 0px;
}

img:hover {
    transform: scale(1.1);
}

img {
    transition: all 1s;
}

.img-container {
    overflow: hidden;
    height: 100vh;
}

.blur {
    padding: 5%;
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.text-green {
    color: #2E987C;
}

input[type="radio"]:checked~label {
    background-color: #2E987C;
    color: #fff;
}

input[type="radio"] {
    visibility: collapse;
    width: 0;
    height: 0;
}

input[type="radio"]~label {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

input[type="range"] {
    margin: 10px;
    min-width: 25%;
}

.text-white {
    color: white;
}

::-webkit-scrollbar {
    background: #2C313A;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #2E987C;
    border-radius: 10px;
}